<launch>

    <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen">
    
        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/imu0" />
        <param name="topic_camera0"  type="string" value="/cam0/image_raw" />
        <param name="topic_camera1"  type="string" value="/cam1/image_raw" />
        <rosparam param="stereo_pairs">[0,1]</rosparam>
    
        <!-- bag parameters -->
        <param name="path_bag"    type="string" value="/home/qyf/0Data/20210318/pimax_ns.bag" />
        <param name="bag_start"   type="int"    value="0" />
        <param name="bag_durr"    type="int"    value="-1" />
    
        <!-- world/filter parameters -->
        <param name="max_clones"             type="int"    value="11" />
        <param name="max_slam"               type="int"    value="0" />
        <param name="max_cameras"            type="int"    value="2" />
        <param name="init_window_time"       type="double" value="0.5" />
        <param name="init_imu_thresh"        type="double" value="2.0" />
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>
        <param name="feat_rep_msckf"         type="string" value="GLOBAL_3D" />
        <param name="feat_rep_slam"          type="string" value="GLOBAL_3D" />
    
        <!-- tracker/extractor parameters -->
        <param name="use_klt"          type="bool"   value="true" />
        <param name="fast_threshold"   type="int"    value="10" />
        <param name="grid_x"           type="int"    value="5" />
        <param name="grid_y"           type="int"    value="3" />
        <param name="min_px_dist"      type="int"    value="10" />
        <param name="num_pts"          type="int"    value="400" />
    
        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <!-- continuous -->
        <!-- <param name="gyroscope_noise_density"      type="double"   value="2.0783740699543856e-02" />
        <param name="gyroscope_random_walk"        type="double"   value="3.0074367448324271e-05" />
        <param name="accelerometer_noise_density"  type="double"   value="2.6561838800082605e-01" />
        <param name="accelerometer_random_walk"    type="double"   value="2.2683907382254142e-04" /> -->
        <!-- discrete -->
        <param name="gyroscope_noise_density"      type="double"   value="0.657239589" />
        <param name="gyroscope_random_walk"        type="double"   value="9.51035E-05" />
        <param name="accelerometer_noise_density"  type="double"   value="8.399590945" />
        <param name="accelerometer_random_walk"    type="double"   value="7.17328E-04" />

        <!-- camera intrinsics -->
        <param name="cam0_is_fisheye" type="bool" value="true" />
        <param name="cam1_is_fisheye" type="bool" value="true" />
        <rosparam param="cam0_k">[1.9112260948019420e+02, 1.9091160293134550e+02, 2.3547339093016930e+02, 3.1815831887748914e+02]</rosparam>
        <rosparam param="cam0_d">[3.1527417655921192e-01, -7.3729202653204803e-02, -3.9199961175069645e-02, 1.7827027704898878e-02]</rosparam>
        <rosparam param="cam1_k">[1.9233863964135509e+02, 1.9204511667400706e+02, 2.3561384085453366e+02, 3.2616754838136444e+02]</rosparam>
        <rosparam param="cam1_d">[2.9145344262625589e-01, -1.6609781303169327e-02, -8.9154905822309949e-02, 3.1885286662976790e-02]</rosparam>
    
        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            [
            -0.0448323624120508, 0.37166365022215864, -0.9272843093593764, -0.07694495439967482,
            -0.3551724749045211, -0.8735024099857402, -0.33293550849872, -0.009514499266961716,
            -0.9337251053445826, 0.3144195777184443, 0.1711658750937326, 0.019561220997500642,
            0.0, 0.0, 0.0, 1.0
            ] 
        </rosparam>
        <rosparam param="T_C1toI">
            [
            0.0009087580013081853, 0.9999908486688397, -0.00418051880382142, -0.0006829297636030497,
            -0.0004327075434272798, 0.00418091336184101, 0.9999911663248046, 0.06451230726146574,
            0.9999994934614104, -0.000906941031613484, 0.00043650302204745195, 0.0031729640364701883,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>
    
    </node>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ov_msckf)/launch/display.rviz" />
    
</launch>